.navbar .nav-item .dropdown-menu{display: none;}
.navbar .nav-item:hover .dropdown-menu{display: block;}


.my-caption
{
    height: 200px;
    top: 130px;
    background: rgba(0,0,0,0.5);
}

@media screen and (max-width:600px)
{
    .my-caption
    {
        height: 200px;
        top: 15px;
        background: rgba(0,0,0,0.5);
    }
}
.bg-orange{background-color: #FF4800;

}
.text-orange{color: #FF4800;}
.bg-orange:hover,
{                   background-color: #D93D00;
                     color: white;
}

.text-orange, .text-orange:hover{color: #FF4800;}
.nav-link:hover{
    background-color: #FF4800;
    color: white;
}

.banner-section{
    height: 500px;
    background-image: url("../img/header.jpg");
}

.banner-card{
    margin-top: 130px;
    padding: 50px;
}
.free-quote-form{
    padding: 80px;
}